/*Universal Selectors****************/
@font-face {
  font-family: 'myFirstFont';
  src: url(../fonts/order-pizza.ttf);
}
html, body {
  height: 100%;
}

body {
  color: darkblue;
  font-weight: bolder;
  background-image: url(../img/pizza2.jpg);
}

h1 {
  font-family: 'myFirstFont', sans-serif;
  letter-spacing: 2px;
  font-size: 1.5em;
}

h2, label, ul, li {
  font-family: 'Righteous', cursive;
}

label {
  font-size: 1.5em;
}

li {
  font-size: 1.5em;
}

/*Class Selectors********************/

.container {
  background-color: rgba(204, 173, 0,0.5);
  /*background:linear-gradient(rgba(204, 173, 0,.6), rgba(204, 173, 0,0.2);*/
  height: 100%;
}

.btn {
  background-color: lightblue;
  border: 2px solid darkblue;
}

/*Id Selectors***********************/
#header {
background-color: rgba(204, 173, 0,0.5);
padding: 25px;
font-size: 1.7em;
}

#pizza-guy {
  margin-top: 25px;
  width: 650px;
  height: 365.63px;
  border: 3px outset darkblue;
}

#topping-in, #size-in {
 color: darkblue;
}

#output, #delete, #nother {
  display: none;
}

/*Media Queries**********************/
